%h3.header Edytuj Artykuł

.form
  - form_for @article, :url => admin_article_path(@article) do |form|
    = render :partial => 'form', :object => form
      
    %p
      = link_to "Anuluj", admin_articles_path
      = submit_tag "Zmień"
